.content {
  margin-top: 6.4rem;

  @include respond(tablet) {
    margin-top: 6.7rem;
  }

  @include respond(phone) {
    margin-top: 6.4rem;
  }

  &__photos {
    max-width: 111rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 3rem;
    margin-inline: auto;
    margin-bottom: 8rem;

    @include respond(tablet) {
      max-width: 68.9rem;
      column-gap: 1.1rem;
      row-gap: 1.1rem;

      margin-bottom: 4.8rem;
      grid-template-columns: repeat(auto-fit, minmax(16.4rem, 1fr));
    }

    @include respond(phone) {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 2.4rem;
      row-gap: 2.4rem;
      max-width: 32.7rem;
      justify-content: center;
    }

    &--photo {
      height: 24.2rem;
      border-radius: 0.8rem;

      @include respond(tablet) {
        height: 15.6rem;
      }
      @include respond(tablet) {
        height: 14.3rem;
      }
    }
  }

  &__text {
    margin-bottom: 4.4rem;
    margin-inline: 46rem;
    @include respond(tablet) {
      margin-inline: 6rem;
      margin-bottom: 8.3rem;
    }

    @include respond(phone) {
      margin-inline: 2.3rem;
      margin-bottom: 6.4rem;
    }
    &--sub-heading {
      font-weight: 900;
      font-size: 1.6rem;
      line-height: 2.6rem;
      letter-spacing: 0.4rem;
      color: $color-blue;
      margin-bottom: 1.6rem;

      @include respond(phone) {
        margin-bottom: 2.4rem;
      }
    }

    &--heading {
      margin-bottom: 3.2rem;
      margin-inline: 5rem;
      color: $color-black;
      @include respond(tablet) {
        margin-inline: 10rem;
      }

      @include respond(phone) {
        margin-inline: 0;
      }
    }

    &--text {
      color: $color-grey;
      line-height: 2.6rem;
      @include respond(phone) {
        font-size: 1.6rem;
        line-height: 2.6rem;
      }
    }
  }
}
