.cta {
  display: grid;
  grid-template-columns: minmax(0, min-content) 1fr minmax(0, min-content);
  overflow: hidden;
  margin-bottom: 11rem;

  &__hero-left {
    transform: translateX(-8%);
  }
  &__hero-right {
    transform: translateX(8%);
  }

  &__content {
    display: grid;
    justify-items: center;
    margin-inline: 8.8rem;

    &--headline {
      font-weight: 900;
      font-size: 6.4rem;
      line-height: 6.4rem;
      color: $color-black;
      margin-bottom: 3.2rem;
    }

    &--text {
      line-height: 2.6rem;
      color: $color-grey;
      margin-bottom: 3.2rem;
    }

    &--btns {
      display: flex;
      gap: 1.6rem;
      &-download {
        padding-inline: 4rem;
        background-color: $color-blue;
        & span {
          color: $color-blue-light;
        }

        &:hover {
          background-color: #71c0d4;
        }
      }

      &-ref {
        padding-inline: 2.9rem;
        background-color: $color-purple;

        &:hover {
          background-color: $color-purple-light;
        }
      }
    }
  }
}
