.footer {
  width: 100%;
  background: linear-gradient(
      to bottom,
      rgb(77, 150, 169, 0.8) 0%,
      rgb(77, 150, 169, 0.8) 100%
    ),
    url(../assets/desktop/image-footer.jpg) no-repeat;
  transform: translateY(-2.8rem);
  display: grid;
  grid-template-columns: 1fr 1fr max-content;
  padding: 11rem 16.5rem;
  grid-gap: 10rem;
  align-items: center;
  background-color: rgb(77, 150, 169, 0.5);
  text-align: left;
  color: $color-white;

  @include respond(tablet) {
    background: linear-gradient(
        to bottom,
        rgb(77, 150, 169, 0.8) 0%,
        rgb(77, 150, 169, 0.8) 100%
      ),
      url(../assets/tablet/image-footer.jpg) no-repeat;
    grid-template-columns: 1fr;
    padding-block: 9rem 6.6rem;
    padding-inline: 10rem;
    text-align: center;
    grid-gap: 0;
  }

  @include respond(phone) {
    background: linear-gradient(
        to bottom,
        rgb(77, 150, 169, 0.8) 0%,
        rgb(77, 150, 169, 0.8) 100%
      ),
      url(../assets/mobile/image-footer.jpg) no-repeat;
    background-size: 37.5rem;
    justify-content: center;
    padding-inline: 2.4rem;
    padding-block: 9.2rem 7.2rem;
  }

  &__heading {
    @include respond(tablet) {
      margin-bottom: 4rem;
      padding-inline: 6rem;
    }

    @include respond(phone) {
      margin-bottom: 2.4rem;
      padding-inline: 0;
    }
  }

  &__text {
    @include respond(tablet) {
      margin-bottom: 4rem;
    }
    @include respond(phone) {
      line-height: 2.6rem;
      margin-bottom: 3.2rem;
    }
  }

  &__btn {
    background-color: $color-purple;
    padding-inline: 4rem;
    & span {
      color: $color-purple-light;
    }

    &:hover {
      background-color: #b18bdd;
    }
  }
}
