*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Red Hat Display", sans-serif;
  background-color: #f2f2f2;
}

p {
  font-size: 1.8rem;
  font-weight: 500;
}

h2 {
  font-weight: 900;
  font-size: 4rem;
  line-height: 4.4rem;
}
@media (max-width: 768px) {
  h2 {
    font-size: 3.2rem;
    line-height: 3.6rem;
  }
}

.btn {
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 2.6rem;
  padding-block: 1.6rem;
  border-radius: 2.9rem;
  border: none;
  color: white;
  cursor: url(../assets/Pointer.svg), auto;
  transition: all 0.2s;
}

.container {
  max-width: 144rem;
  background-color: #fafafa;
  margin: 0 auto;
  text-align: center;
}
@media (max-width: 1439px) {
  .container {
    max-width: 76.8rem;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 37.5rem;
  }
}

.logo {
  margin-block: 8rem 4.8rem;
}
@media (max-width: 1439px) {
  .logo {
    margin-block: 4.8rem 6.4rem;
  }
}
@media (max-width: 768px) {
  .logo {
    margin-block: 4.8rem 5.4rem;
  }
}

.separator {
  display: grid;
  justify-items: center;
  align-items: center;
}
.separator__line {
  width: 1px;
  height: 8.4rem;
  background-color: #87879d;
  opacity: 0.25;
}
.separator__number {
  height: 5.6rem;
  width: 5.6rem;
  font-weight: 900;
  color: #87879d;
  background-color: #fafafa;
  border: 1px solid rgba(135, 135, 157, 0.25);
  border-radius: 50%;
  display: grid;
  align-items: center;
  justify-items: center;
  z-index: 1;
}

.cta {
  display: grid;
  justify-items: center;
  justify-content: center;
  grid-template-columns: 1fr;
  padding-inline: 45rem;
  padding-top: 6rem;
  background: url(../assets/desktop/image-hero-left.png) no-repeat, url(../assets/desktop/image-hero-right.png) no-repeat;
  background-position: left -3.3rem top 0rem, right -3.3rem top 5.5rem;
}
@media (max-width: 1439px) {
  .cta {
    padding-top: 37.6rem;
    padding-inline: 15.5rem;
    background: url(../assets/tablet/image-hero.png) no-repeat;
    background-position: left -2.6rem top 0;
  }
}
@media (max-width: 768px) {
  .cta {
    grid-template-columns: minmax(37.5rem, 1fr);
    background-size: 41.4rem 15.3rem;
    background-position: left -2rem top 0;
    padding-top: 20rem;
  }
}
.cta__headline {
  font-weight: 900;
  font-size: 6.4rem;
  line-height: 6.4rem;
  color: #28283d;
  margin-bottom: 3.2rem;
}
@media (max-width: 1439px) {
  .cta__headline {
    font-size: 4.8rem;
    line-height: 4.8rem;
    margin-bottom: 2.4rem;
  }
}
@media (max-width: 768px) {
  .cta__headline {
    font-size: 4rem;
    line-height: 4.4rem;
  }
}
.cta__text {
  line-height: 2.6rem;
  color: #87879d;
  margin-bottom: 3.2rem;
}
@media (max-width: 1439px) {
  .cta__text {
    font-size: 1.6rem;
    margin-bottom: 3.2rem;
  }
}
@media (max-width: 768px) {
  .cta__text {
    padding-inline: 2.4rem;
  }
}
.cta__btns {
  display: flex;
  gap: 1.6rem;
  margin-bottom: 11rem;
}
@media (max-width: 1439px) {
  .cta__btns {
    margin-bottom: 8rem;
  }
}
@media (max-width: 768px) {
  .cta__btns {
    display: grid;
    justify-items: center;
    margin-bottom: 6.4rem;
  }
}
.cta__btns-download {
  padding-inline: 3.6rem;
  background-color: #4d96a9;
}
.cta__btns-download span {
  color: #8fe3f9;
}
.cta__btns-download:hover {
  background-color: #71c0d4;
}
.cta__btns-ref {
  padding-inline: 2.9rem;
  background-color: #855fb1;
}
.cta__btns-ref:hover {
  background-color: #d9b8ff;
}

.content {
  margin-top: 6.4rem;
}
@media (max-width: 1439px) {
  .content {
    margin-top: 6.7rem;
  }
}
@media (max-width: 768px) {
  .content {
    margin-top: 6.4rem;
  }
}
.content__photos {
  max-width: 111rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 3rem;
       column-gap: 3rem;
  margin-inline: auto;
  margin-bottom: 8rem;
}
@media (max-width: 1439px) {
  .content__photos {
    max-width: 68.9rem;
    -moz-column-gap: 1.1rem;
         column-gap: 1.1rem;
    row-gap: 1.1rem;
    margin-bottom: 4.8rem;
    grid-template-columns: repeat(auto-fit, minmax(16.4rem, 1fr));
  }
}
@media (max-width: 768px) {
  .content__photos {
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 2.4rem;
         column-gap: 2.4rem;
    row-gap: 2.4rem;
    max-width: 32.7rem;
    justify-content: center;
  }
}
.content__photos--photo {
  height: 24.2rem;
  border-radius: 0.8rem;
}
@media (max-width: 1439px) {
  .content__photos--photo {
    height: 15.6rem;
  }
}
@media (max-width: 1439px) {
  .content__photos--photo {
    height: 14.3rem;
  }
}
.content__text {
  margin-bottom: 4.4rem;
  margin-inline: 46rem;
}
@media (max-width: 1439px) {
  .content__text {
    margin-inline: 6rem;
    margin-bottom: 5.5rem;
  }
}
@media (max-width: 768px) {
  .content__text {
    margin-inline: 2.3rem;
    margin-bottom: 3.6rem;
  }
}
.content__text--sub-heading {
  font-weight: 900;
  font-size: 1.6rem;
  line-height: 2.6rem;
  letter-spacing: 0.4rem;
  color: #4d96a9;
  margin-bottom: 1.6rem;
}
@media (max-width: 768px) {
  .content__text--sub-heading {
    margin-bottom: 2.4rem;
  }
}
.content__text--heading {
  margin-bottom: 3.2rem;
  margin-inline: 5rem;
  color: #28283d;
}
@media (max-width: 1439px) {
  .content__text--heading {
    margin-inline: 10rem;
  }
}
@media (max-width: 768px) {
  .content__text--heading {
    margin-inline: 0;
  }
}
.content__text--text {
  color: #87879d;
  line-height: 2.6rem;
}
@media (max-width: 768px) {
  .content__text--text {
    font-size: 1.6rem;
    line-height: 2.6rem;
  }
}

.footer {
  width: 100%;
  background: linear-gradient(to bottom, rgba(77, 150, 169, 0.8) 0%, rgba(77, 150, 169, 0.8) 100%), url(../assets/desktop/image-footer.jpg) no-repeat;
  display: grid;
  grid-template-columns: 1fr 1fr -webkit-max-content;
  grid-template-columns: 1fr 1fr max-content;
  padding: 11rem 16.5rem;
  grid-gap: 10rem;
  align-items: center;
  background-color: rgba(77, 150, 169, 0.5);
  text-align: left;
  color: #fafafa;
}
@media (max-width: 1439px) {
  .footer {
    background: linear-gradient(to bottom, rgba(77, 150, 169, 0.8) 0%, rgba(77, 150, 169, 0.8) 100%), url(../assets/tablet/image-footer.jpg) no-repeat;
    grid-template-columns: 1fr;
    padding-block: 9rem 6.6rem;
    padding-inline: 10rem;
    text-align: center;
    grid-gap: 0;
  }
}
@media (max-width: 768px) {
  .footer {
    background: linear-gradient(to bottom, rgba(77, 150, 169, 0.8) 0%, rgba(77, 150, 169, 0.8) 100%), url(../assets/mobile/image-footer.jpg) no-repeat;
    background-size: 37.5rem;
    justify-content: center;
    padding-inline: 2.4rem;
    padding-block: 9.2rem 7.2rem;
  }
}
@media (max-width: 1439px) {
  .footer__heading {
    margin-bottom: 4rem;
    padding-inline: 6rem;
  }
}
@media (max-width: 768px) {
  .footer__heading {
    margin-bottom: 2.4rem;
    padding-inline: 0;
  }
}
@media (max-width: 1439px) {
  .footer__text {
    margin-bottom: 4rem;
  }
}
@media (max-width: 768px) {
  .footer__text {
    line-height: 2.6rem;
    margin-bottom: 3.2rem;
  }
}
.footer__btn {
  background-color: #855fb1;
  padding-inline: 4rem;
}
.footer__btn span {
  color: #d9b8ff;
}
.footer__btn:hover {
  background-color: #b18bdd;
}/*# sourceMappingURL=main.css.map */